In [9]:
import numpy as np
import pandas as pd

In [10]:
num_parts = 5
df = pd.read_csv('discreted_link_ratings.csv')
bins = np.linspace(0, 10000, num=num_parts+1).tolist()
df.columns

Index(['Unnamed: 0', 'userId', 'movieId', 'rating'], dtype='object')

In [11]:
def save_and_discretize_data_to_csv(df, save_path='', max_user = None):
    print(df.columns)
    rows_with_nan = df[df.isna().any(axis=1)]
    print(rows_with_nan)
    df = df[['userId', 'movieId', 'rating']]

    # print( df['movieId'])
    if max_user:
        df = df.loc[df['userId'] <= max_user]
    def discrete(column):
        sorted_values = sorted(df[column].unique())
        def custom_rank(value):
            return sorted_values.index(value) + 1
        return custom_rank

    df['userId'] = df['userId'].apply(discrete('userId'))
    df['movieId'] = df['movieId'].apply(discrete('movieId'))
    df.to_csv(save_path)

In [12]:
# Tạo danh sách chứa các phần DataFrame
df_parts = []

# Duyệt qua từng phần
for i in range(num_parts):
    condition = (df['userId'] >= bins[i]) & (df['userId'] < bins[i+1])
    current_part = df[condition].copy()
    df_parts.append(current_part)

In [13]:
df_tmp = df_parts[0].sort_values(by='userId')
df_tmp
# df_parts[1]

        Unnamed: 0  userId  movieId  rating
974191    25905310       1     1077       3
978230    26014297       1      186       4
961063    25555512       1     3211       5
937271    24925534       1     5037       5
951042    25289310       1     3929       4
...            ...     ...      ...     ...
921797    24515817    1998     6020       5
923164    24553490    1998     5958       3
976389    25966445    1998      531       4
94793      2464966    1999    19897       5
109285     2852831    1999    19860       5

[196134 rows x 4 columns]

In [14]:
for i in range(num_parts):
    save_and_discretize_data_to_csv(df_parts[i].copy(), save_path=f"discreted_link_ratings_p{i}.csv")

Index(['Unnamed: 0', 'userId', 'movieId', 'rating'], dtype='object')
Empty DataFrame
Columns: [Unnamed: 0, userId, movieId, rating]
Index: []

C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['userId'] = df['userId'].apply(discrete('userId'))
C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['movieId'] = df['movieId'].apply(discrete('movieId'))

Index(['Unnamed: 0', 'userId', 'movieId', 'rating'], dtype='object')
Empty DataFrame
Columns: [Unnamed: 0, userId, movieId, rating]
Index: []

C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['userId'] = df['userId'].apply(discrete('userId'))
C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['movieId'] = df['movieId'].apply(discrete('movieId'))

Index(['Unnamed: 0', 'userId', 'movieId', 'rating'], dtype='object')
Empty DataFrame
Columns: [Unnamed: 0, userId, movieId, rating]
Index: []

C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['userId'] = df['userId'].apply(discrete('userId'))
C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['movieId'] = df['movieId'].apply(discrete('movieId'))

Index(['Unnamed: 0', 'userId', 'movieId', 'rating'], dtype='object')
Empty DataFrame
Columns: [Unnamed: 0, userId, movieId, rating]
Index: []

C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['userId'] = df['userId'].apply(discrete('userId'))
C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['movieId'] = df['movieId'].apply(discrete('movieId'))

Index(['Unnamed: 0', 'userId', 'movieId', 'rating'], dtype='object')
Empty DataFrame
Columns: [Unnamed: 0, userId, movieId, rating]
Index: []

C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['userId'] = df['userId'].apply(discrete('userId'))
C:\Users\ABC\AppData\Local\Temp\ipykernel_28148\4244648765.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['movieId'] = df['movieId'].apply(discrete('movieId'))

In [15]:
df_tmp = df_parts[0].sort_values(by='userId')
df_tmp

        Unnamed: 0  userId  movieId  rating
974191    25905310       1     1077       3
978230    26014297       1      186       4
961063    25555512       1     3211       5
937271    24925534       1     5037       5
951042    25289310       1     3929       4
...            ...     ...      ...     ...
921797    24515817    1998     6020       5
923164    24553490    1998     5958       3
976389    25966445    1998      531       4
94793      2464966    1999    19897       5
109285     2852831    1999    19860       5

[196134 rows x 4 columns]