In [1]:
import numpy as np
import pandas as pd

In [2]:
num_parts = 2
df = pd.read_csv('discreted_link_ratings.csv')
bins = np.linspace(0, 10000, num=num_parts+1).tolist()
df.columns

Index(['Unnamed: 0', 'userId', 'movieId', 'rating'], dtype='object')

In [3]:
def save_and_discretize_data_to_csv(df, save_path='', max_user = None):
    print(df.columns)
    rows_with_nan = df[df.isna().any(axis=1)]
    print(rows_with_nan)
    df = df[['userId', 'movieId', 'rating']]

    # print( df['movieId'])
    if max_user:
        df = df.loc[df['userId'] <= max_user]
    def discrete(column):
        sorted_values = sorted(df[column].unique())
        def custom_rank(value):
            return sorted_values.index(value) + 1
        return custom_rank

    df['userId'] = df['userId'].apply(discrete('userId'))
    df['movieId'] = df['movieId'].apply(discrete('movieId'))
    df.to_csv(save_path)

In [4]:
# Tạo danh sách chứa các phần DataFrame
df_parts = []

# Duyệt qua từng phần
for i in range(num_parts):
    condition = (df['userId'] >= bins[i]) & (df['userId'] < bins[i+1])
    current_part = df[condition].copy()
    df_parts.append(current_part)

In [5]:
df_tmp = df_parts[0].sort_values(by='userId')
df_tmp
# df_parts[1]

        Unnamed: 0  userId  movieId  rating
923433    24561074       1     5950       4
978230    26014297       1      186       4
931084    24761227       1     5461       3
937271    24925534       1     5037       5
961063    25555512       1     3211       5
...            ...     ...      ...     ...
976959    25983026    4999      435       3
883319    23547141    4999     8232       4
446092    11972662    4999    18057       2
869647    23208982    4999     8878       2
1301          1301    4999    20208       3

[492826 rows x 4 columns]

In [6]:
for i in range(num_parts):
    save_and_discretize_data_to_csv(df_parts[i].copy(), save_path=f"discreted_link_ratings_p{i}.csv")

Index(['Unnamed: 0', 'userId', 'movieId', 'rating'], dtype='object')
Empty DataFrame
Columns: [Unnamed: 0, userId, movieId, rating]
Index: []

C:\Users\ABC\AppData\Local\Temp\ipykernel_25472\4244648765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['userId'] = df['userId'].apply(discrete('userId'))
C:\Users\ABC\AppData\Local\Temp\ipykernel_25472\4244648765.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['movieId'] = df['movieId'].apply(discrete('movieId'))

Index(['Unnamed: 0', 'userId', 'movieId', 'rating'], dtype='object')
Empty DataFrame
Columns: [Unnamed: 0, userId, movieId, rating]
Index: []

C:\Users\ABC\AppData\Local\Temp\ipykernel_25472\4244648765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['userId'] = df['userId'].apply(discrete('userId'))
C:\Users\ABC\AppData\Local\Temp\ipykernel_25472\4244648765.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['movieId'] = df['movieId'].apply(discrete('movieId'))

In [8]:
df_tmp = df_parts[1].sort_values(by='userId')
df_tmp

        Unnamed: 0  userId  movieId  rating
822511    21973886    5000    10276       5
903553    24053893    5000     7162       4
620959    16633551    5000    16390       4
239254     6375271    5000    19219       5
398749    10701618    5000    18395       4
...            ...     ...      ...     ...
184396     4919024    9999    19596       4
351793     9441485    9999    18744       2
344684     9248825    9999    18809       3
14009       373246    9999    20184       3
72728      1945345    9999    19955       4

[485674 rows x 4 columns]